 BASE_URL=https://example.com/


 NUXT_OAUTH_GOOGLE_CLIENT_ID=394049618953-xxxxxxxxxxxxxxxxx
 NUXT_OAUTH_GOOGLE_CLIENT_SECRET=GOCSPX-taTeMQil-xxxxxxxxxxxxx

 NUXT_OAUTH_GITHUB_CLIENT_ID=xxxxxxxxxxx
 NUXT_OAUTH_GITHUB_CLIENT_SECRET=xxxxxxxxxxxxxxx

 STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxx
 STRIPE_PUBLIC_KEY=pk_test_xxxxxxxxxxxxxxxx
 STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxx

 PAYMENT_PROVIDER=stripe

 RESEND_API_KEY=re_4tKkQRiN_xxxxxxxxxxxxx
 RESEND_AUDIENCE_ID=e50cfa5f-096a-4e95-xxxx-xxxxxxxxxx
 FROM_EMAIL=Xxxx <xxx@test.xxxx.dev>

 NUXT_UMAMI_HOST=https://cloud.umami.is
 NUXT_UMAMI_ID=0651c067-cf08-4125-xxxx-xxxxxxxx

 # The keys below are auto generated
 NUXT_SESSION_PASSWORD=xxxxxxxxx
 NUXT_HUB_PROJECT_KEY=xxxxxxxxx